header {
	background-color: black;
	color: white;
	width: 100%;
	padding-top: 30px
	padding-bottom: 30px;
	margin: 0 auto;
	margin-bottom: 20px;

}

body {
	background-color: #f7f7f7;
}

.profInfo {
	font-weight: bold;
}

.container-fluid {
	margin-left: 50px;
	margin-right: 50px;
}